.viewAll {
  background: linear-gradient(to bottom, #C5E1F9, #DCECF7);
  box-shadow: -10px 10px 10px #1A3B6C;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 350px;
  margin-right: 350px;
  outline: 2px solid #39FF14;
}

